.chat-list {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 450px;
  border: 1px solid #2196f3;
  box-shadow: 0 0 10px #2196f3;
  margin-right: 50px;
  overflow-y: auto;
  &__title {
    align-self: center;
    text-transform: uppercase;
  }
}

.delete {
  color: white;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #2196f3;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
