@import "vars";

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  min-height: 100vh;
  background-color: #282c34;
  color: $white-color;
}

.App-header {
  padding: 25px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-shadow: 0 0 10px $primary-color,  0 0 40px $primary-color,  0 0 80px $primary-color;
}


.App-main {
  padding-left: 20px;
  display: flex;
}

.Navigate {
  display: flex;
}

li {
  list-style: none;
  margin-right: 30px;
}

li a {
  color: #000;
  text-decoration: none;
  &:hover{
    text-shadow: 0 0 10px lighten($primary-color, 10%),  0 0 40px lighten($primary-color, 10%),  0 0 80px lighten($primary-color, 10%);
  }
}
