* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  padding: 25px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-shadow: 0 0 10px #2196f3,  0 0 40px #2196f3,  0 0 80px #2196f3;
}


.App-main {
  padding-left: 20px;
  display: flex;
  //justify-content: space-around;
}

.Navigate {
  display: flex;
  //padding-top: 15px;
}

li {
  list-style: none;
  margin-right: 30px;
}

li a {
  color: #000;
  text-decoration: none;
}
